<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/75887402-5e43-461d-a27a-be7cabaec74f/resourcegroups/Epizza/providers/Microsoft.ContainerRegistry/registries/RestaurantServices</ResourceId>
    <ResourceName>RestaurantServices</ResourceName>
    <ResourceGroup>Epizza</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://restaurantservices.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>69413a41-604e-4a2f-a39a-e9c05f19c954</ProjectGuid>
  </PropertyGroup>
</Project>